<form [formGroup]="searchForm">
  <mat-form-field>
    <mat-select [formControl]="travelTypeCtrl">
      <mat-option *ngFor="let tt of travelTypes | keyvalue" [value]="tt.value">
        {{tt.value}}
      </mat-option>
    </mat-select>
  </mat-form-field>


  <div formGroupName="flightDetailsGroup">
    <mat-form-field>
      <input type="text" placeholder="From" aria-label="From" matInput [formControl]="fromCtrl" [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let airport of fromAirports$ | async" [value]="airport.displayText">
          <span>{{airport.city}}</span>
          <small>&nbsp;({{airport.code}})</small>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <mat-form-field>
      <input type="text" placeholder="Where To" aria-label="To" matInput [formControl]="toCtrl" [matAutocomplete]="auto2">
      <mat-autocomplete #auto2="matAutocomplete">
        <mat-option *ngFor="let airport of toAirports$ | async" [value]="airport.displayText">
          <span>{{airport.city}}</span>
          <small>&nbsp;({{airport.code}})</small>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <mat-form-field>
      <input matInput [matDatepicker]="departureDt" placeholder="Choose departure date" [formControl]="fromDateCtrl">
      <mat-datepicker-toggle matSuffix [for]="departureDt"></mat-datepicker-toggle>
      <mat-datepicker #departureDt></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <input matInput [matDatepicker]="returnDt" placeholder="Choose return date" [formControl]="toDateCtrl">
      <mat-datepicker-toggle matSuffix [for]="returnDt"></mat-datepicker-toggle>
      <mat-datepicker #returnDt></mat-datepicker>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-select [formControl]="stopsCtrl">
        <mat-option value="0">Nonstop only</mat-option>
        <mat-option value="1">1 stop or fewer</mat-option>
      </mat-select>
    </mat-form-field>
    <div>
    Passenger
    <button mat-icon-button (click)="updatePassengers(-1)" [disabled]="passengers <= 1">
      <mat-icon aria-label="Remove Passenger">remove</mat-icon>
    </button>
    {{passengers}}
    <button mat-icon-button (click)="updatePassengers(1)">
      <mat-icon aria-label="Remove Passenger">add</mat-icon>
    </button>
    </div>
    <div>
    Price: Under {{priceFilterText | currency: 'INR' : 'symbol': '.0-0'}} <mat-slider thumbLabel step="100" tickInterval="auto" [max]="maxPriceFilter"
      [value]="maxPriceFilter" (change)="updatePriceFilter($event)">
    </mat-slider>
    </div>
  </div>
</form>
