<p>
  search works!
</p>
<form [formGroup]="searchForm">
  <div formGroupName="flightDetailsGroup">
    <mat-form-field>
      <input type="text" placeholder="From" aria-label="From" matInput [formControl]="fromCtrl" [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let airport of fromAirports$ | async" [value]="airport.city">
          <span>{{airport.city}}</span>
          <small>&nbsp;({{airport.code}})</small>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <br />
    <mat-form-field>
      <input type="text" placeholder="Where To" aria-label="To" matInput [formControl]="toCtrl" [matAutocomplete]="auto2">
      <mat-autocomplete #auto2="matAutocomplete">
        <mat-option *ngFor="let airport of toAirports$ | async" [value]="airport.city">
          <span>{{airport.city}}</span>
          <small>&nbsp;({{airport.code}})</small>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>
</form>
<p>
  Control Status: {{ fromCtrl.value | json }}
</p>
<p>
  Control Status: {{ fromCtrl.status }}
</p>
<p>
  Form Status: {{ searchForm.value | json }}
</p>
<p>
  Form Status: {{ searchForm.status }}
</p>
