<p>
  search works!
</p>
<form [formGroup]="searchForm">
  <mat-form-field>
    <mat-select [formControl]="travelTypeCtrl">
      <mat-option *ngFor="let tt of travelTypes" [value]="tt">
        {{tt}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br/>
  <mat-form-field>
    <mat-select [formControl]="stopsCtrl">
      <mat-option value="0">Nonstop only</mat-option>
      <mat-option value="1">1 stop or fewer</mat-option>
    </mat-select>
  </mat-form-field>
  <div formGroupName="flightDetailsGroup">
    <mat-form-field>
      <input type="text" placeholder="From" aria-label="From" matInput [formControl]="fromCtrl" [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let airport of fromAirports$ | async" [value]="airport.displayText">
          <span>{{airport.city}}</span>
          <small>&nbsp;({{airport.code}})</small>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <br />
    <mat-form-field>
      <input type="text" placeholder="Where To" aria-label="To" matInput [formControl]="toCtrl" [matAutocomplete]="auto2">
      <mat-autocomplete #auto2="matAutocomplete">
        <mat-option *ngFor="let airport of toAirports$ | async" [value]="airport.displayText">
          <span>{{airport.city}}</span>
          <small>&nbsp;({{airport.code}})</small>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <br />
    <mat-form-field>
      <input matInput [matDatepicker]="picker" placeholder="Choose a date" [formControl]="fromDateCtrl">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>
</form>
<p>
  Form Status: {{ searchForm.value | json }}
</p>
<p>
  Form Status: {{ searchForm.status }}
</p>
